
  

    /**Home Index page css starts here*/

    .menubar{
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    
    .menubar li{
      float: left;
      width: 33.33%;
    }
    
    .menubar li:nth-child(0){
      text-align: left;
    }
    .menubar li:nth-child(2){
      text-align: center;
    }
    .menubar li:nth-child(3){
      text-align: right;
    }
    
    .menubar li a {   
        display: block;
        text-decoration: none;
      font-size: 1.5em;
      color: #555;
    }
     
    .menubar li a.active {
        color: #111;
    }
    
    .menubar li a i{
      padding: 10px;
    }
    
    .menushape1{
      width: 450px;
      height: 400px;
      background-color: rgba(244, 215, 66,0.3);
    background: linear-gradient(90deg, rgba(247,118,43,0.8) 0%, rgba(246,212,98,0.5) 35%, rgba(255,235,0,0.6) 100%);
      border-radius: 50%;
      position: absolute;
      top: -100px;
      left: -100px;
      z-index: -1;
    }
    
    
    .menushape2{
      width: 400px;
      height: 400px;
      background-color: rgba(244, 215, 66,0.2);
      background: linear-gradient(90deg, rgba(247,118,43,0.5) 0%, rgba(255,230,145,0.6) 35%, rgba(245,217,54,0.9) 100%);
      border-radius: 50%;
      position: absolute;
      top: -20px;
      left: -100px;
      z-index: -1;
    }
    
    .sidenav{
      height: 100%;
      width: 0px;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #555;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
      z-index: 1000;
    }
    
    
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 1.2em;
        color: #fff;
        display: block;
        transition: 0.3s;
    }
    
    
    .sidenav a:hover {
        color: #f1f1f1;
    }
    
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 15px;
        font-size: 30px;
        color: rgba(244, 215, 66,0.8);
    }
    
    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }
    
    .sidenavshape{
      width: 400px;
      height: 500px;
      background: rgba(244, 215, 66,1);
      border-radius: 10%;
      transform: rotate(40deg);
      position: absolute;
      top: -80px;
      left: -230px;
      z-index: -1;
    }
    
    .sidenav ul{
      list-style-type: none;
        margin: 0;
        padding: 0;
        width: 200px;
        margin: 50px 0;
        height: 360px;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    
    .sidenav li:last-child{
        margin-top: auto;
      border-top-right-radius: 40px;
      border-bottom-right-radius: 40px;
     }
    
    .sidenav li a:not(.closebtn) {
        display: block;
        color: #fff;
        padding: 8px 16px;
        font-weight: 400;
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
        width: 160px;
    }
     .sidenav li:last-child{
        vertical-align: bottom;
        font-size: 0.8em;
        width: 150px;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
        border:1px solid rgba(244, 215, 66,0.4);
     }
    .sidenav li.active a {
      background-color: rgba(255, 255, 255, 0.7);
      border-top-right-radius: 40px;
      border-bottom-right-radius: 40px;
      color: #555;
      font-weight: 600;
    }
    .sidenav li a:hover {
      background-color: #e7c710;
      cursor: pointer;
      color:#555;
      font-weight: bold;
    }
    
    
    .welcomeMessage{
      text-align:center;
      font-family: "Roboto", sans-serif;
    }

    h1 {
      font-family: "Roboto", sans-serif;
    }

    .main-title {
      padding: 10px;
      text-align: center;
      font-family: "Roboto",sans-serif;
      font-size: 18px;
      color: #555;
  }

  #logo {
    width: 70px;
    height: 70px;
    padding-top: 10px;
    padding-right: 40px;
}
#logoNotfication{
  width: 70px;
    height: 70px;
    right: 40px;
    top: 10px;
}
.container1{
  width: 100%;
}
.flex-container {
  display: flex;
}

.downloadPDF {
  width: 150px;
  padding: 5px;
  color: #555;
  text-align: center;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  border-radius: 15px;
  position:relative; 
  right:890px; 
  background-color: #fcf4c7;
  top:27%;
  float: left;
}


.downloadPDF:hover {
  background-color: #e7c710;
  color: white;
}




.approve {
  width: 150px;
  padding: 5px;
  color: #555;
  text-align: center;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  border-radius: 15px;
  position:relative;
  right:890px; 
  background-color: #fcf4c7;
  top:27%;
  float: left;
}


.approve:hover {
  background-color: #e7c710;
  color: white;
}



.reject {
  width: 150px;
  padding: 5px;
  color: #555;
  text-align: center;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  border-radius: 15px;
  position:absolute;
  left: 150px;
  background-color: #fcf4c7;
  top:21%;
  float: right;
}

.reject:hover {
  background-color: #e7c710;
  color: white;
}





.completed {
  width: 150px;
  padding: 5px;
  color: #555;
  text-align: center;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  border-radius: 15px;
  position:absolute;
  left: 305px;
  background-color: #fcf4c7;
  top:21%;
  float: right;
}

.completed:hover {
  background-color: #e7c710;
  color: white;
}


.filters {
  text-align: center;
  font-family: "Roboto",sans-serif;
  font-size: 18px;
  margin: 6px;
  top:28%;
  position:absolute;
  left: 690px;
}

.table {
  text-align: center;
  font-family: "Roboto",sans-serif;
  font-size: 18px;
  margin: 6px;
  top:40%;
  position:absolute;
  left: 450px;
}