.ChangeRoleButton {
    width: 100px;
    padding: 12px;
    color: #555;
    position: relative;
    font-size: 18px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    border-radius: 15px;
    background-color: #fcf4c7;
}

.ChangeRoleButton:hover {
    background-color: #e7c710;
    color: white;
}

#addButtonArea {
    position: absolute;
    top: 12%;
    left: 47%;
    margin: 0;
}

/* Home page */
.column {
    flex: 33.33%;
    height: 700px;
    padding: 10px;
    margin: 5px;
    background-color: #fcf4c7;
    border-radius: 30px;
    
}

.flex-container {
    display: flex;
}

.center {
    padding: 220px;
    font-size: 18px;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.column:hover {
    background: #f7d616;
    cursor: pointer;
    color: white;
}

/* Manage regions */

#globe {
    padding-left: 10px;
}

#menu-icon{
    padding: 25px;
    color: #555;
    font-size: 35px;
}

#logout:hover{
    background-color: #e7c710;
    color:#555;
    cursor: pointer;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.main-title {
    padding: 25px;
    text-align: center;
    font-family: "Roboto",sans-serif;
    font-size: 18px;
    color: #555;
}

#logo {
    width: 70px;
    height: 70px;
    padding-top: 10px;
    padding-right: 40px;
}

#regionTable {
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
}

#regionTable td, #regionTable th {
    border: 1px solid #ddd;
    padding: 8px;
    background-color: white;
}

#regionTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#regionTable tr:hover {
    background-color: #ddd;
}

#regionTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #e7c710;
    color: #555;
}