.ChangeRoleButton {
    border: 1px solid rgba(244, 214, 65, 1);
    background: rgba(0, 214, 65, 0.7);
    width: 100px;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 20%;
    box-shadow: 4px 4px #f4c141;
    color: #555;
}

/* Home page */
.column {
    flex: 33.33%;
    height: 700px;
    padding: 10px;
    margin: 5px;
    background-color: #fcf4c7;
    border-radius: 30px;
    
}

.flex-container {
    display: flex;
}

.center {
    padding: 220px;
    font-size: 18px;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.column:hover {
    background: #f7d616;
    cursor: pointer;
}

/* Manage regions */

#globe {
    padding-left: 10px;
}

#menu-icon{
    padding: 25px;
}

#logout:hover{
    background-color: #e7c710;
    color:#555;
    cursor: pointer;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.main-title {
    padding: 25px;
    text-align: center;
    font-family: "Roboto",sans-serif;
    font-size: 18px;
}

#logo {
    width: 70px;
    height: 70px;
    padding-top: 10px;
    padding-right: 40px;
}

#regionTable td, #regionTable th {
    border: 1px solid #ddd;
    padding: 8px;
    background-color: white;
}

#regionTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#regionTable tr:hover {
    background-color: #ddd;
}

#regionTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #e7c710;
    color: white;
}