@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

body {
    background: #fcfcfc;
    height: 100%;
    width: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

.container {
    margin: 0px auto;
    padding: 0;
}

.app {
    background: #fff;
    min-height: 640px;
    overflow: hidden;
    background: transparent;
}

.shape-circle {
    position: absolute;
    top: 100px;
    right: 0;
    background: rgba(244, 215, 66, 0.5);
    width: 180px;
    height: 160px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    animation: shapeanimate 1s ease-in;
}

.page-heading {
    font-size: 2em;
    margin: 60px 0 5px 0;
    font-family: 'Open Sans', sans-serif;
    color: #ead109;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
    font-weight: 800;
    letter-spacing: -2px;
    line-height: 40px;
    text-shadow: #f0f0f0 2px 2px 0;
    padding: 10px;
    border-bottom: 1px solid #555;
}

.page-heading span {
    border-bottom: 3px solid #ead109;
    display: inline-block;
    margin: 0 0 -2px 0;
    padding: 5px 3px;
}

.page-heading i {
    float: right;
    padding: 10px;
}

.login-container {
    background: transparent;
    position: absolute;
    top: 30%;
    width: 100%;
}

.login-container h3 {
    font-size: 2em;
    margin: 10px 0 85px 30px;
    font-family: 'Open Sans', sans-serif;
    color: #555;
    text-decoration: none;
    font-size: 1.6em;
    font-weight: 800;
    letter-spacing: -1px;
    text-shadow: #f0f0f0 2px 2px 0;
}

.login-container .form-control {
    position: relative;
}

.login-container .form-control input {
    width: 50%;
    padding: 15px 0 10px 25px;
    letter-spacing: 1px;
    font-size: 1em;
    font-weight: 600;
    color: #555;
    border: 1px solid rgba(244, 215, 66, 1);
    border-left: 0px;
    outline: none;
    background: transparent;
    background: rgba(244, 215, 66, 0.6);
}

.login-container .form-control input:focus {
    background: rgba(244, 215, 66, 0.3);
}

.login-container .form-control input.username {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom: 1px solid rgba(244, 215, 66, 1);
}

.login-container .form-control input.email {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom: 1px solid rgba(244, 215, 66, 1);
}

.login-container .form-control input.password {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top: 0px;
}

.btn_submit {
    position: absolute;
    top: 50px;
    right: 10px;
    border: 1px solid rgba(244, 214, 65, 1);
    background: rgba(244, 214, 65, 0.7);
    width: 100px;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 20%;
    box-shadow: 4px 4px #f4c141;
    color: #555;
}

h2 {
    text-align: center;
    margin: 20px;
}

#btn_saveNot {
    position:relative;
    bottom: 1px;
    left: 35%;
    right: 35%;
    

}

#radioButtons {
    margin: auto;
    padding: 20px;
}
#positionState {
    margin: auto;
    padding: 20px;
}

#arrowBack {
    font-size: 20px;
    margin: 10px;
}

.button-submit:hover {
    box-shadow: 4px 4px #d1a740;
    color: #fff;
}


@import url(http://weloveiconfonts.com/api/?family=fontawesome);
[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

body {
    background: white;
    font: 87.5%/1.5em 'Open Sans', sans-serif;
    margin: 0;
}

p {
    line-height: 1.5em;
}

after {
    clear: both;
}

.login {
    margin: 50px auto;
    width: 320px;
}

.login form {
    margin: auto;
    padding: 22px 22px 22px 22px;
    width: 100%;
    border-radius: 5px;
    background: #282e33;
    border-top: 3px solid #434a52;
    border-bottom: 3px solid #434a52;
}

.login form span {
    background-color: #363b41;
    border-radius: 3px 0px 0px 3px;
    border-right: 3px solid #434a52;
    color: #606468;
    display: block;
    float: left;
    line-height: 50px;
    text-align: center;
    width: 50px;
    height: 50px;
}

.login form input[type="email"] {
    background-color: #3b4148;
    border-radius: 0px 3px 3px 0px;
    color: #a9a9a9;
    margin-bottom: 1em;
    padding: 0 16px;
    width: 90%;
    height: 50px;
}

.login form input[type="password"] {
    background-color: #3b4148;
    border-radius: 0px 3px 3px 0px;
    color: #a9a9a9;
    margin-bottom: 1em;
    padding: 0 16px;
    width: 90%;
    height: 50px;
}

.login form input[type="submit"] {
    background: #b5cd60;
    border: 0;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

#login form input[type="submit"]:hover {
    background: #16aa56;
}

.login_home {
    background: 4px 4px #ffee0681;
}

.loginBtn {
    box-sizing: border-box;
    position: relative;
    margin: 0.2em;
    padding: 0 10px 0 30px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
}

.loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
}

.loginBtn:focus {
    outline: none;
}

.loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}


/* Facebook */

.loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
    text-shadow: 0 -1px 0 #354C8C;
}

.loginBtn--facebook:before {
    border-right: #364e92 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}

.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */

.loginBtn--google {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    background: #DD4B39;
}

.loginBtn--google:before {
    border-right: #BB3F30 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}

.loginBtn--google:hover,
.loginBtn--google:focus {
    background: #E74B37;
}

.logo {
    text-align: center;
    position: relative;
    top: 100px;
}

.div_buttons {
    text-align: center;
    position: relative;
    top: 150px;
}

.btn_inverse {
    border: 1px solid rgba(244, 214, 65, 1);
    background: rgba(252, 252, 251, 0.988);
    width: 100px;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 20%;
    box-shadow: 4px 4px #f4c141;
    color: #000;
}

button {
    margin: 5px;
    
    
}

.btn_normal {
    text-align: center;
    border: 1px solid rgba(244, 214, 65, 1);
    background: rgba(244, 214, 65, 0.7);
    width: 100px;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 20%;
    box-shadow: 4px 4px #f4c141;
    color: #555;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120px;
    letter-spacing: 0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    text-shadow: 8px 8px #05f36c, 20px 20px #000000;
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
    span {
        font-size: 20px;
    }
}

@media only screen and (min-width: 500px) and (max-width: 800px) {
    span {
        font-size: 30px;
    }
}

.link {
    color: #ead109;
}

#welcomeMessage {
    margin: 40px;
    color: #1d1d1d;
}





.btn_normal2 {
    text-align: center;
    border: 1px solid rgba(244, 214, 65, 1);
    background: rgba(244, 214, 65, 0.7);
    width: 100px;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 20%;
    box-shadow: 4px 4px #f4c141;
    color: #555;
    top: 165%;
    position: absolute;
    margin-left:-1750px;
}


#map { height: 500px; width: 500px; }

.btn_normal3 {
    text-align: center;
    border: 1px solid rgba(244, 214, 65, 1);
    background: rgba(244, 214, 65, 0.7);
    width: 100px;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 20%;
    box-shadow: 4px 4px #f4c141;
    color: #555;
    top: 45%;
    position: absolute;
    margin-left:-1750px;
}

.btn_normal4 {
    text-align: center;
    border: 1px solid rgba(244, 214, 65, 1);
    background: rgba(244, 214, 65, 0.7);
    width: 100px;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 20%;
    box-shadow: 4px 4px #f4c141;
    color: #555;
    top: 70%;
    position: absolute;
    margin-left:-1750px;
}

.btn_normal5 {
    text-align: center;
    border: 1px solid rgba(244, 214, 65, 1);
    background: rgba(244, 214, 65, 0.7);
    width: 100px;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 20%;
    box-shadow: 4px 4px #f4c141;
    color: #555;
    top: 190%;
    position: absolute;
    margin-left:-1750px;
}

